:host {
    display: flex;
  }
  
  .title-bar {
    display: flex;
    flex-grow: 1;
    min-height: 80px;
  }
  
  .menu-area {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-right: 20px;
  }
  
  .title-bar-small {
    flex-grow: 1;
    display: flex;
    min-height: 56px;
  }

  .small-image-holder {
    flex-grow: 1;
  }

  .small-image {
    height: 50px;
  }

  span {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 25px;
    line-height: 50px;
}
